
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


nav{
    height: 70px;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;

}
nav .logo{
    font-size: 33px;
    color: #fff;
    font-weight: 700;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
nav ul li a:hover,
nav ul li a.active:hover{
    color: #1b1b1b;
    background: #fff;
}
nav ul li{
    margin: 0px 10px;
}
nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;

}
#click{
    display: none;
}












body{
    background-color: #e9f9ff;
}

.hero-section {
    height: 100vh;
    display: flex;
    margin-left: 50%;
    align-items: center;
    padding: 0 20px;
}

.img{
    height: 50vh;
    width: 30%;
    margin-left: 100%;
    margin-bottom: -475px;
    margin-left: 100px;
    margin-top: 10px;
    padding-left: 8px;

}

.hero-section .content{
    color: #000;
    max-width: 1200px;
    width: 100%;
    margin: 120px auto;
    margin-top: 50px;
}

.hero-section .content .arabic{
    color: #f95c0d;
}

.hero-section .content h1{
    font-size: 3rem;
    max-width: 600px;
    color: #013220;   
}
.hero-section .content h3{
    text-decoration: none;
    

}

.hero-section .content h4{
    font-size: 1.5rem;
    font-weight: 350;

}


.hero-section .content h5 {
    font-weight: 300;
    margin-top: 10px;
    max-width: 600px;
    font-size: 1rem;
}

.hero-section .content p {
    font-weight: 600;
    margin-top: 10px;
    max-width: 600px;
    font-size: 1.1rem;
    color: #000;
}
.hero-section .content p a {
    outline: none;
    color: #000;
}




.hero-section .content button{
    background: #008000;
    color: #fff;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 30px;
    border: none;
    padding: 12px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease;    
}

.hero-section .content button:hover{
    background: #c06b3e;

}

#menu-btn{
    color: #000;
    cursor: pointer;
    display: none;
}

#close-menu-btn{
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    color: #fff;
    cursor: pointer;
    
}


/* comming soon */

.body-alter{
    background-color: #013220;
}




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: #000;
}
.footer-container{
    width: 100%;
    padding: 50px 30px 20px;
}
.social-icons{
    display: flex;
    justify-content: center;
}
.social-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20%;
    align-items: center;
}
.social-icons a i{
    font-size: 2em;
    color: #000;
    opacity: 0.9;
}

.social-icons a:hover{
    background-color: #111;
    transition: 0.5;   
}
.social-icons a:hover i{
    color: #fff;
    transition: 0.5s;
}
.footer-nav{
    margin: 30px 0;
}
.footer-nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footer-nav ul li a{
    color: #fff;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.5;
    transition: 0.5s;
}
.footer-nav ul li a:hover{
    opacity: 1;
}
.footer-bottom{
    background-color: #8888;
    padding: 20px;
    text-align: center;
}
.footer-bottom p{
    color:#fff;
    cursor: pointer;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-decoration: none;
    margin: 0px 5px;
}
.footer-bottom a{
    text-decoration: none;
}





@media screen and (max-width: 400px){

    nav .menu-btn i{
        display: block;

    }
    #click:checked ~ .menu-btn i:before{
        content: "\f00d";

    }

    nav{
        width: 450px;
    }

    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;

    }

    #click:checked ~ ul{
        left: 0%;

    }

    nav ul li{
        margin: 40px 0;

    }

    nav ul li a{
        font-size: 20px;
        display: block;
    }

    nav ul li a:hover,
    nav ul li a.active:hover{
    color: cyan;
    background: none;
}










    .img{
        height: 35vh;
        width: 70%;
        margin-left: 100%;
        margin-bottom: -225px;
        margin-left: 35px;
        margin-top: 100px;
        padding-left: 8px;
    
    }



.hero-section {
    height: 100vh;
    display: flex;
    margin-left: 50%;
    align-items: center;
    padding: 0 20px;
    margin-top: 140px;
}
.hero-section .content{
    color: #000;
    max-width: 600px;
    width: 200%;
    margin: 0 -110px;
}


.hero-section .content h1{
    font-size: 2rem;
    max-width: 600px;
    min-width: none;
    color: #013220;  
     
}





}





